nav {
  position: absolute;
  left: 0;
  right: 0;
  height: 90px;
}

.page-footer {
  z-index: 400;
  height: 42px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#app {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 90px;
  bottom: 42px;
}

#home-container {
  height: 100%;
}

#leftBar {
  display: inline-block;
  width: 400px;
  padding: 20px;
  height: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.05);
}

#rightContainer {
  margin-left: 400px;
  height: 100%;
}

#titles {
  width: 100%;
  height: 74px;
}

#mapid {
  height: 100%;
}

#logo {
  max-width: 100px;
}

html, h1, h2, h3, h4, h5 {
  font-family: 'Omnes Regular', Roboto, sans-serif;
}

div, span, a, p {
  font-family: 'Omnes Medium', Roboto, sans-serif;
}

.dataTables_wrapper {
  padding: 0 20px;
  position: absolute;
  height: 100%;
  padding-bottom: 200px;
}

#data_table {
  height: 100%;
  overflow: auto;
  display: block;
}

th {
  border-radius: 0;
}

.table-buttons {
  margin: 2px;
}

#data_table_filter > label > input[type="search"]:focus {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44936;
}

.subtitle {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  padding-top: 30px;
  margin: 0;
}

.header-image {
  height: 90px;
  padding: 20px;
}

.menu-links {
  line-height: 90px;
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
  top: 21px;
}

.row {
  margin-bottom: 0;
}

.title-icon {
  font-size: 40px;
  float: right;
  max-width: 50px;
}

.tweets-and-map {
  display: inline-block;
}

.fade-enter-active, .fade-leave-active, .fade-tweets-leave-active {
  transition: opacity 0.2s;
  transition-delay: 0.2s;
}

.fade-enter, .fade-leave-to, .fade-tweets-enter, .fade-tweets-leave-to {
  opacity: 0;
}

.fade-tweets-enter-active {
  transition: opacity 0.2s;
  transition-delay: 0.2s;
}

body {
  overflow: hidden;
}

.activetab {
  color: #F44336;
}

.tagbox {
  margin: 0 auto;
  min-height: 20px;
}

.current {
  background: #F44006 !important;
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
  left: 25px;
}

.avatartag {
  padding-left: 92px!important;
}

.collection.with-header .collection-item, .leaflet-popup-content {
  margin: 0;
}

.leaflet-stat-box {
  border: none;
}

.leaflet-stat-box-title {
  padding-left: 20px;
}

.collection.with-header .collection-item {
  padding: 10px 20px;
}

.leaflet-stat-box-item p {
  margin: 0;
}

.no-margin {
  margin: 0;
}

#last-update {
  transition: font-size 0.2s;
}

.flash-text {
  font-size: 105%;
  background-color: rgba(0,0,0,0.1);
}

#loader {
  margin: 0 auto;
  display: block;
}

.hidden {
  display: none!important;
}
